@tailwind base;
@tailwind components;
@tailwind utilities;



.app{
  overflow: hidden;
}

#header{
  -webkit-transform: translate3d(0,0,1px); 
    -webkit-backface-visibility: hidden;
  background-image: url("../src/images/header.jpg");
  height: 110vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

#nav-link{
  width: 200px;
  text-align: center;
  padding: 4px;
  transition: 0.3s ease-in-out;
  background-color: rgba(226, 60, 0, 0.733);
  color: white;
}

#nav-contact{
  background-color: rgba(110, 110, 110, 0.877);
  width: 200px;
  text-align: center;
  padding: 4px;
  transition: 0.3s ease-in-out;
  color: rgb(230, 230, 230);
}


#nav-link:hover{
  border-radius: 0 20px 0 20px;
  background-color: rgb(226, 60, 0);
}


#nav-contact:hover{
  border-radius: 20px 0 20px 0;
  color: white;
  background-color: rgb(110, 110, 110);
}




#intro >div{
  width: 400px;
  height: 100px;
  background-color: greenyellow;
  margin:20px;
  
}


#greet{
  background-color: rgba(128, 128, 128, 0.657);
  border-radius: 40px 0 40px 0;
}

#about-item{
  outline: 2px solid grey;
  outline-offset: 12px;
}


#services div img{
  box-shadow: 2px 2px 10px rgb(68, 68, 68);
}


#team{
  background-image: url("../src/images/team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


#team-info{
  background-color: rgba(128, 128, 128, 0.63);
}

#team-more{
  background-color: rgb(236, 236, 236);
  color: black;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  width: 100%;

}

#team-more:hover{
  background-color: rgb(241, 96, 0);
  color: white;

}



#team-more:hover #team-arrow{
  transform: scale(1.5);
}


#projects{
  transition: 1s ease-in-out;
}

#projects div img{
  box-shadow: 2px 2px 12px rgb(37, 37, 37);
}

#p-info{
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#p-info:hover{
  background-color: rgb(59, 181, 242);
}


#p-icon{
  transition: 0.3s ease-in-out;
}

#p-info:hover #p-icon{
  transform: scale(1.3);
}

